/*dark mode*/
#top-bar {
    background: #222221;
    box-shadow: 0px 5px 5px 1px #151515;
}

#top-bar .pure-menu-horizontal .pure-menu-children {
    width: auto;
    min-width: 100%;
    background: #222;
}

#footer {
    background: #222;
    box-shadow: 0px 5px 5px 9px #151515;
}

body {
    color: #fff;
    background: #222;
}

.fa, .fas {
    color: lightgray;
}

.paginator {
    color: white;
}

.paginator .total-pages {
    color: lightgray;
    filter: contrast();
}

a {
    color: #0F82AF;
    text-decoration: none;
}

.collection .description, .project.big .notes {
    color: #1a1b20;
}

#loading {
    background: #222;
    color:white;
}

.project.big .controlbar {
    box-sizing: border-box;
    z-index: 200;
    background: #222;
    padding: 0.4em 0.5em;
    border-radius: 5px 5px 0 0;
    text-align: left;
}

.project iframe, .project .embed-placeholder {
    border-radius: 7px;
}

.customalert .header, .customalert .body, .customalert .footer {
    color: black;

}


/* layout.css | https://snap.berkeley.edu/style/layout.css */

.customalert .body, .customalert .footer {
  /* background: #25272f; */
  background: #21232b;
  border-radius: 5px;
}

/* style.css | moz-extension://87b9297d-3cb0-cf48-9998-336eb7d71132/style.css */

.customalert .header, .customalert .body, .customalert .footer {
  color: ;
}


/* style.css | moz-extension://87b9297d-3cb0-cf48-9998-336eb7d71132/style.css */

.customalert .header, .customalert .body, .customalert .footer {
  /* color: black; */
  color: white;
}

/* pure-min.css | https://snap.berkeley.edu/libs/pure-min.css */

button, input, optgroup, select, textarea {
  /* color: inherit; */
  color: black;
}
