/*dark mode*/
#top-bar {
    background: #222221 !important; 
    box-shadow: 0px 5px 5px 1px #151515 !important;
    color:white !important:
}

#top-bar .pure-menu-horizontal .pure-menu-children {
    width: auto !important;
    min-width: 100% !important;
    background: #222 !important;
    color:white !important:
}

#footer {
    background: #222 !important;
    box-shadow: 0px 5px 5px 9px #151515 !important;
    color:white !important:
}

body {
    color: #fff !important;
    background: #222 !important;
}

.fa, .fas {
    color: lightgray !important;
}

.paginator {
    color: white !important;
}

.paginator .total-pages {
    color: lightgray !important;
    filter: contrast() !important;
}

.project.pure-u-1-5 a {
    color: #0F82AF  !important;
    text-decoration: none !important;
}

.collection .description, .project.big .notes {
    color: #1a1b20 !important;
}

#loading {
    background: #222 !important;
    color:white !important;
}

.project.big .controlbar {
    box-sizing: border-box !important;
    z-index: 200 !important;
    background: #222 !important;
    padding: 0.4em 0.5em !important;
    border-radius: 5px 5px 0 0 !important;
    text-align: left !important;
}

.project iframe, .project .embed-placeholder {
    border-radius: 7px !important;
}

.customalert .header, .customalert .body, .customalert .footer {
    color: black !important;

}


/* layout.css | https://snap.berkeley.edu/style/layout.css */

.customalert .body, .customalert .footer {
  /* background: #25272f; */
  background: #21232b !important;
  border-radius: 5px !important;
}

/* style.css | moz-extension://87b9297d-3cb0-cf48-9998-336eb7d71132/style.css */

/* style.css | moz-extension://87b9297d-3cb0-cf48-9998-336eb7d71132/style.css */

.customalert .header, .customalert .body, .customalert .footer {
  /* color: black; */
  color: white;
}

/* pure-min.css | https://snap.berkeley.edu/libs/pure-min.css */

button, input, optgroup, select, textarea {
  /* color: inherit; */
  color: black !important;
}
